.item {
  position:relative;
  display:inline-block;
}
.notify-badge{
  position: absolute;
  width: 90px;
  transform: rotate(45deg);
  right:-16px;
  top:16px;
  text-align: center;
  padding:5px 10px;
  font-size:12px;
}
