<div class="card mb-4 box-shadow">
  <span [ngSwitch]="card.type">
    <p *ngSwitchCase="card.classReference.TYPE_CHALLENGE_VIDEO"><app-video-challenge [video]="card.data"></app-video-challenge></p>
    <p *ngSwitchCase="card.classReference.TYPE_PHOTO"><app-photo-card [photo]="card.data"></app-photo-card></p>
    <p *ngSwitchCase="card.classReference.TYPE_VIDEO"><app-video-card [video]="card.data"></app-video-card></p>
    <p *ngSwitchDefault></p>
  </span>


  <span class="badge badge-pill notify-badge" [ngClass]="
  {'badge-primary': card.tag === card.classReference.TAG_ANECDOTA,
   'badge-info':card.tag === card.classReference.TAG_HUMOR ,
   'badge-secondary':card.tag === card.classReference.TAG_RECUERDO ,
   'badge-light':card.tag === card.classReference.TAG_QUIEN
   }" >{{
    card.tag
  }}</span>
</div>
